@mixin shadow {
  box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(#000, 0.4);
}

@mixin shadow-inset {
  box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(#000, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e9e9e9;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .calculator {
    @include shadow();
    padding: 2rem;
    border-radius: 30px;

    .output {
      @include shadow-inset();
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 8rem;
      padding: 1.5rem;
      border-radius: 30px;
      text-align: right;
      font-size: 2rem;
      font-family: sans-serif;
      text-shadow: -1px -1px 2px #fff, 2px 2px 2px rgba(#000, 0.4);

      #output_previous {
        opacity: 0.6;
        font-size: 1.5rem;
      }
    }

    .keys {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin-top: 2rem;

      button {
        @include shadow();
        outline: none;
        border: none;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
          background-color: #ccc;
        }

        &:active {
          @include shadow-inset();
          background-color: #ccc;
        }

        &.reset, &.clear, &.operation, &.equal {
          color: #ff652f;
        }
      }
    }
  }
}